<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mi.FoodChoice"
          android:versionCode="3"
          android:versionName="0.2.1">
    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="ANDROID.PERMISSION.INSTALL_LOCATION_PROVIDER"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!--友盟语音反馈-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".FoodApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Main">

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Main.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MakeChoiceActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Main.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MoreInfoActivity"
            android:theme="@style/Theme.Main"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ShopDealsActivity"
            android:theme="@style/Theme.Main"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/Theme.Main"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".WebViewActivity"
            android:theme="@style/Theme.Main"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@style/Theme.Main"
            android:screenOrientation="portrait"/>

        <!-- 友盟 -->
        <meta-data
            android:value="54918bb7fd98c57eeb0001ab"
            android:name="UMENG_APPKEY"/>
        <meta-data
            android:value="Yifan"
            android:name="UMENG_CHANNEL"/>

        <!-- 高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="14bbf71f7f72b280c8d7f866faaefa7e"/>

        <provider
            android:name="com.mi.FoodChoice.data.FoodDbProvider"
            android:authorities="com.mi.foodchoice"
            android:exported="false"/>

    </application>
</manifest>
